android/gradlew text eol=lf
android/gradlew.bat text eol=crlf
*.jar binary

* text=auto eol=lf
vendor/wasmtex/** binary
entry/src/main/resources/rawfile/web/tex/** binary
*.wasm binary
*.data binary
*.fmt binary
android/gradlew.bat text eol=crlf
entry/src/main/resources/rawfile/web/** -text
